.gallery {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  overflow-x: scroll;

  img {
    width: 12rem;
    height: 100%;
    object-fit: cover;
  }
}
