.navbar {
  background-color: var(--b2);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .navbarEnd {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    font-size: 2rem;
  }
}
