:root {
  /* tailwind */
  &,
  &.winter {
    /* 基本背景色 淺 tailwind寫在root*/
    --b1: white;
    /* 基本文字顏色 */
    --bc: #394e6a;

    /* 背景色 深 */
    --b2: #f0f6ff;

    /* border顏色 */
    --b3: #e2e8f4;

    /* btn-primary色 */
    --p: #057aff;
    --pc: #dbe1ff;
    --pf: #0069e0;

    /* navbar按鈕顏色 */
    --n: #021431;
    --nc: #c7c9d1;
  }

  &.dracula {
    --b1: #272935;
    --bc: #f8f8f2;

    --b2: #181920;

    --b3: #09090c;

    --p: #ff7ac6;
    --pc: #301c27;
    --pf: #ff57b6;

    --n: #414558;
    --nc: #d6d7db;

    /* --b1: 231 15% 18%;
    --bc: 60 30% 96%;

    --b2: 231 15% 11%;

    --p: 326 100% 74%;
    --pc: 328 26% 15%; */
  }

  /* 按鈕圓弧 */
  --rounded-btn: 0.8rem;

  /* disabled顏色 */
  --color-grey-200: #374151;
  --color-grey-500: #9ca3af;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* Creating animations for dark mode */
  transition: background-color 0.3s, border 0.3s;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--bc);

  transition: color 0.3s, background-color 0.3s;
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1.6rem;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: inherit;
  border-radius: var(--rounded-btn);
}

button {
  cursor: pointer;
  border: none;
}

*:disabled {
  cursor: not-allowed;
}

select:disabled,
input:disabled {
  background-color: var(--color-grey-200);
  color: var(--color-grey-500);
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: 2px solid var(-p);
  outline-offset: -1px;
}

button:has(svg) {
  line-height: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  /* hyphens: auto; */
}

img {
  max-width: 100%;

  /* For dark mode */
  /* filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity)); */
}

fieldset {
  border: none;
}

.align-element {
  margin-left: auto;
  margin-right: auto;
  max-width: 115rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}

.btn-primary {
  &,
  &:link,
  &:visited,
  &:active,
  &.active:link,
  &.active:visited {
    display: inline-block;
    padding: 0.8rem 1.6rem;
    border-radius: var(--rounded-btn);
    background-color: var(--p);
    color: var(--pc);
    font-weight: 600;
  }

  &:hover {
    background-color: var(--pf);
  }
}

.btn-text {
  margin-top: 1.2rem;
  border: none;
  background: none;
  color: var(--p);

  &:hover {
    font-weight: 500;
  }
}

.loading {
  pointer-events: none;
  display: inline-block;
  aspect-ratio: 1 / 1;
  width: 4.8rem;
  background-color: currentColor;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='%23000' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_V8m1%7Btransform-origin:center;animation:spinner_zKoa 2s linear infinite%7D.spinner_V8m1 circle%7Bstroke-linecap:round;animation:spinner_YpZS 1.5s ease-out infinite%7D%40keyframes spinner_zKoa%7B100%25%7Btransform:rotate(360deg)%7D%7D%40keyframes spinner_YpZS%7B0%25%7Bstroke-dasharray:0 150;stroke-dashoffset:0%7D47.5%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-16%7D95%25%2C100%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-59%7D%7D%3C%2Fstyle%3E%3Cg class='spinner_V8m1'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3'%3E%3C%2Fcircle%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='%23000' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_V8m1%7Btransform-origin:center;animation:spinner_zKoa 2s linear infinite%7D.spinner_V8m1 circle%7Bstroke-linecap:round;animation:spinner_YpZS 1.5s ease-out infinite%7D%40keyframes spinner_zKoa%7B100%25%7Btransform:rotate(360deg)%7D%7D%40keyframes spinner_YpZS%7B0%25%7Bstroke-dasharray:0 150;stroke-dashoffset:0%7D47.5%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-16%7D95%25%2C100%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-59%7D%7D%3C%2Fstyle%3E%3Cg class='spinner_V8m1'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3'%3E%3C%2Fcircle%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.text-9xl {
  font-size: 12.8rem;
  line-height: 1;
  font-weight: 600;
}

.text-6xl {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
}

.text-3xl {
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 500;
}

.text-lg {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.text-sm {
  font-size: 1.4rem;
  line-height: 2rem;
}

.text-xs {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.text-primary {
  color: var(--p);
}

.font-medium {
  font-weight: 500;
}

.border-base-300 {
  border-bottom: solid var(--b3) 1px;
}

.mb-6 {
  margin-bottom: 2.4rem;
}

.mb-10 {
  margin-bottom: 4rem;
}
