.productsSection {
  .layoutToggle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 1.6rem;
    margin-bottom: 3.2rem;
  }

  .btns {
    display: flex;
    gap: 1.2rem;
  }
}
