.searchOperation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3.2rem;
  column-gap: 1.6rem;
  align-items: center;

  padding: 2.4rem;
  background-color: var(--b2);
  border-radius: var(--rounded-btn);
}
